.qr {
    width: 29.333%;
    min-height: 250px;
    padding: 30px 20px 10px;
    margin: 0 2% 40px;
    vertical-align: top;
    white-space: normal;
    text-align: left;
    display: inline-block;
    box-shadow: inset 0 0 0 1px rgba(40,40,40,.2);
    border-radius: 4px;
    background-color: #fff;
    font-size: 1rem;
    
    &__img {
        display: block;
        width: 100%;
    }
}
